<li class="login" id="login">
	<a id="login-trigger" class="weldd" href="javascript:void(0);">Welcome <div class="username">{{ app.session.get('loggedInUsername') }}!</div>&nbsp;<span>&#x25BC;</span></a>
	<div id="login-content" class="userSettingLinks">
		<ul>
			<li><a href="{{ url('client_profile_page') }}">My Account</a></li>
			<li><a href="{{ url('client_own_order_list') }}">Consignment History</a></li>
			<li><a href="{{ url('dummy_logout') }}">Logout</a></li>
		</ul>
	</div>
</li>