<li class="login" id="login">
	<a id="login-trigger" class="weldd" href="javascript:void(0);">Welcome <div class="username">{{ app.user.username }}!</div>&nbsp;<span>&#x25BC;</span></a>
	<div id="login-content" class="userSettingLinks">
		<ul>
			<li><a href="{{ url('client_profile_page') }}">My Account</a></li>
			<li><a href="javascript:void(0);">Consignment History</a></li>
			<li><a href="{{ url('net_flex_client_logout') }}">Logout</a></li>
		</ul>
	</div>
</li>