<div class="navigation">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="javascript:void(0);">Netflex</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li {{ ('home_page' == app.request.attributes.get('_route')) ? 'class="active"' : '' }}><a href="{{ url('home_page') }}">Home</a></li>
					<li {{ ('client_book_a_shipment' == app.request.attributes.get('_route')) ? 'class="active"' : '' }}><a href="{{ url('client_book_a_shipment') }}">Book a Shipment</a></li>
					<li><a href="javascript:void(0);">Track Order </a></li>
					<li><a href="javascript:void(0);">Customer Enquiry</a></li>
					<li><a href="javascript:void(0);">Clients</a></li>
					<li><a href="javascript:void(0);">Franchisee</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	</nav>
</div>