<li class="login" id="login">
	<a id="login-trigger" href="javascript:void(0);">Log in</a>
	<div id="login-content">
		<input type="text" name="" id="">
		<input type="text" name="" id="">
		<input type="submit" name="" id="" value="Login">
		<a href="#">Forgot your password?</a>
	</div>
</li>