{% block pageContent %}
    <table style="width: 100%;">
        <thead>
        <tr>
            <td align="center">
                <img src="{{ absolute_url(asset('images/7c4c89f.png')) }}"/>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {{ mailBody }}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}