{% extends 'NetFlexDashboardBundle::layout.html.twig' %}

{% block pageTitle %}
    {{ parent() }} :: {{ pageTitle }}
{% endblock %}

{% block pageHeader %}
    {{ pageHeader|raw }}
{% endblock %}

{% block pageContent %}
    <div class="row">
        <div class="col-md-12">
            <div class="well well-lg">
                <h1>Welcome {{ adminFullName }} To Your Dashboard! <small>Use the navigation menus on the left panel and in the header to manage administrative functionalities.</small></h1>
            </div>
        </div>
    </div>
{% endblock %}
