<div class="footer clearfix">
    <div class="footer-inner">
        {{ 'now'|date('Y') }} &copy; NetFlex Logistics Services. Developed @ netGuru Ltd.
    </div>
    <div class="footer-items">
        <span class="go-top"><i class="clip-chevron-up"></i></span>
    </div>
</div>