<li class="dropdown current-user">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <span class="username">{{ adminFullName }}</span>
        <i class="clip-chevron-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="javascript:void(0);">
                <i class="clip-user-2"></i>
                &nbsp;My Profile
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="{{ url('net_flex_dashboard_logout') }}">
                <i class="clip-exit"></i>
                &nbsp;Log Out
            </a>
        </li>
    </ul>
</li>