{% extends 'NetFlexFrontBundle::inner_layout.html.twig' %}
{% block pageTitle %}
    {{ parent() }} : {{ pageTitle }}
{% endblock %}
{% block pageContent %}
    <div class="container">
        <div class="tabform clearfix">
            <h2 class="cong">{{ pageHeader }}</h2>
            {{ contents.0.content|raw }}
        </div>
    </div>
{% endblock %}